/* Media Queries for mobile responsiveness  */
@media  (max-width:768px){

    .nav-section1 {
        justify-content: center;
    }

    .nav-contacts {
        display: none;
    }

    nav ul  {
        display: none;
     }

     .menu-toggle {
        display: flex;
       }

    .show {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        background-color: rgb(236, 6, 6);
        align-items: center;
        position: absolute;
        top: 0;
         left: 0;
         gap:0;
        padding: 0;
        
       }
    .menu-toggle {
        z-index:10;
    }

    nav ul  li:hover {
        border: none;
        gap: none ;
          
    }
    nav ul  li a:hover {
        color: rgb(181, 139, 3);  
    }

   /* --------------------------------------------------------------------------- */
    /* ----------------------------  Hero Section --------------------  */
   .hero-content {
    width: 80%;
   }
   .hero-content h1 {
    font-size: 9vmin;
    margin-bottom: 5px;
}
.hero-para {
    color: black;
    font-size: small;
}

/* ------------------------------------------------------------------------------------------ */
/* -------------------------- Advantages Section ------------------ */
/* -------------------{----------------------------------------------------------------------- */
.advantages-section p {
    width: 80%;
    font-size: smaller;
    margin-top: 10px;
}


.advantages-items {
    flex-wrap: wrap;
}

/* ---------------------------------------------------- */
/* ------------------ About section ------------------------ */
/* ----------------------------------------------------- */
.about-section {
    flex-direction: column;
    align-items: flex-start;
    gap:20px
}

.about-left {
    width: 70%;
    align-items: center;
}

/* ---------------------------------------------------------------------- */
/* ------------------ Services Section ------------------ */
/* --------------------------------------------------------------------- */
.services-items {
    gap:40px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.services-para
 {
    width: 80%;
 }

/* ------------------------------------------------------------------------ */
/* ---------------------------- Portfolio section ------------------- */
/* ------------------------------------------------------------------- */
.portfolio-para {
    width: 80%;
    margin-top: 10px;
    font-size: small;
}

.portfolio-list {
   gap: 40px;
   margin: 20px 0;

}

/* ----------------------------------------------------------------------------- */
/* --------------------------- Process Section ------------------------- */
/* ------------------------------------------------------------------------------ */

.upper-para {
    width: 80%;
}


/* ---------------------------------------------------------------------- */
/* ------------------------- Reviews Section ------------------- */
/* ----------------------------------------------------------------------- */
.reviews-image-text {
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-evenly; */
    height: auto;
    width: 100%;
}

}
/* ---------------------------------------------------------------------------- */
/* ---------------------------    Screen width --> 500px to 767 px -------------- */
/* --------------------------------------------------------------------------- */

@media (min-width: 319px ) and (max-width: 768px){
    .about-left {
        width: 100%;
        text-align: center;
    }
    .about-right {
        padding: 20px;
        width: 100%;
    }
    .advantages-items p {
    
        width: 50%;
    }
}



/* ------------------------------------------------------------------------------------------ */
/* ---------------------- Screen 769 t0 1260px -------------------------------- */
/* ----------------------------------------------------------------------------------------- */
@media (min-width:769px ) and (max-width:1090px) {
    .hero-content {
        width: 70%;
    }
    
    /* ------------------------------------------------------ */
 
}

