

/* Media Queries for mobile responsiveness  */
@media  (max-width:786px){

    .nav-section1 {
        justify-content: center;
    }

    .nav-contacts {
        display: none;
    }

    nav ul  {
        display: none;
     }

     .menu-toggle {
        display: flex;
       }

    nav ul.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        height: 125vh;
        width: 100%;
        background-color: rgb(255, 255, 255);
        align-items: center;
        top: 128px;
         gap:0;
        padding: 0;
        /* z-index: 1000; */
       }
    

    nav ul  li:hover {
        border: none;
        gap: none ;
          
    }
    nav ul  li a:hover {
        color: rgb(181, 139, 3);  
    }

    .nav h1 Image {
        height: 40px;
        width: 80px;
    } 
} 

   
@media (min-width:1200px){
    .nav-section1 {
      height: 80px;
      align-items: center;
    }
    nav { 
        height: 100px
    }
    
      nav ul, .nav-icons, .nav-contacts {
        font-size: 2rem;
      }
       .btn {
         padding: 1rem;
        font-size: 1.2rem;
       }    
        
       .pana-logo {
        
        align-items: center;
       }
  
       }



    /* -------------------------------------------- */
    /* Hero Section  */








